html*{
	box-sizing:border-box;
	font-size: 62.5%; /** 1rem = 10px **/
}
*, *:before, *:after{
box-sizing:inherit;
}
div.logo{
    background-image:url(../img/banner.jpg);
    background-size:cover;
    height: 44rem;
}
.logo h1{
    color:white;
    /*font-weight:bold;*/
    text-align: center;
    font-weight: 400;
}
div#servicios{
	/*width:100%;*/
	display:block;
	margin-top:0px;
	padding-top:0px;
}
	
#servicios{
	/*background-color:gray;*/
	/*color:white;*/ 
	/*font-family: 'PT Sans';*/
	font-size:15px;
	border: 5px solid green;
	/*border: 5px solid #00b8e4;*/
	/*border: 5px solid #2e3845;*/
	line-height:27px;
}
